/* styles.css */
#copy-popup { /*popupbg.png*/
  width: 290px; 
  height: 159px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('popupbg.png'); /* 알파값이 포함된 PNG 이미지 */
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.0);  
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#copy-popup p {
  margin-bottom: 10px; 
  font-size: 1em;
  text-align: center;
  color: rgb(142, 108, 98)
}

#copy-popup button { /*popupbtn.png*/
    padding: 10px 20px;
    margin-top: 15px;
    width: 143px;
    height: 53px;
    background-image: url('popupbtn.png');
    background-color: rgba(0, 0, 0, 0.0);  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    text-shadow: 
    -1px -1px 0 #5C7B7E,  
     1px -1px 0 #5C7B7E,
    -1px  1px 0 #5C7B7E,
     1px  1px 0 #5C7B7E; /* 검정색 테두리 효과 */
}

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 오버레이 */
  z-index: 9999; /* 팝업보다 낮은 z-index로 설정 */
  display: none; /* 기본적으로 숨김 */
}
